@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* COLOR PALETTE */
  --color_white: #FFFFFF;
  --color_black: #000000;
  --color_purple: #5936A4;
  --color_orange: #FC7E00;
  --color_yellow_star: #FFBB00;
  /* COLOR PALETTE */

  /* FONTS */
  --default_font: 'Roboto', 'poppins', 'lato', sans-serif;
  /* FONTS */
}

/* GLOBAL FORMATTING */
html {
  font-family: var(--default_font);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
/* GLOBAL FORMATTING */

